*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(207, 214, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sectionprincipal{
    background-color: rgb(255, 255, 255);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icono{
    color: rgb(54, 122, 245);
    padding-left: 150px;
    font-size: 32px;
}

header h1{
    font-size: 40px;
    font-weight: 1000;
}

.primersection{
    margin-top: 24px;
    margin-bottom: 24px;
}

main h2{
    font-size: 20px;
    margin: 8px 0;
}

main p{
    font-size: 10.5px;
    color: gray;
}

.login{
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: rgb(234, 234, 235);
    padding-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
form label {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 13px;
}

form input {
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 12px;
}

form button {
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    cursor: pointer;
}

form button:hover{
    background-color: white;
    border: #007bff solid 1px;
    color: #007bff;
    font-weight: bold;
}

footer p {
    font-size: 10px;
    color: gray;
}

footer a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

footer a:hover{
    color:rgb(54, 122, 245);
    text-decoration: underline;
}